<div class="navbar--box">
   <div class="navbar--img-container">
      <img src="../../../assets/shared/logo.svg" alt="">

   </div>

   <img 
      class="navbar--hamberger" 
      src="../../../assets/shared/icon-hamburger.svg" 
      alt="main menu" 
      title="nav button" 
      type="button" 
      (click)="toggleNav()"
   />

   <div class="navbar--line line"></div>

</div>

<div class="navbar--case inactive">
   <div class="navbar--close-case">
      <img 
         class="navbar--close" 
         src="../../../assets/shared/icon-close.svg" 
         alt="close navbar"  
         (click)="toggleNav()"
      >

   </div>
   
   <ul class="navbar--list">
      <li class="navbar--link" routerLinkActive="active" routerLink="/home">
         <a><span aria-hidden="true">00</span>Home</a>
      </li>
      <li class="navbar--link" routerLinkActive="active" routerLink="/destination">
         <a><span aria-hidden="true">01</span>Destination</a>
      </li>
      <li class="navbar--link" routerLinkActive="active" routerLink="/crew">
         <a><span aria-hidden="true">02</span>Crew</a>
      </li>
      <li class="navbar--link" routerLinkActive="active" routerLink="/tech">
         <a><span aria-hidden="true">03</span>Technology</a>
      </li>
   </ul>
</div>