@media screen and (min-width: 375px) {
   .navbar--box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 1;
      min-width: 100%;
   }

   .navbar--img-container {
      cursor: pointer;
   }
   
   .navbar--hamberger {
      max-height: 1.313rem;
      cursor: pointer;
   }
   
   .navbar--line {
      display: none;
   }
   
   .inactive {
      position: absolute;
      left: -67vw;
      width: 67vw;
      height: 100vh;
   }

   .navbar--case:before {
      content: '';
      position: absolute;
      top: 0; 
      bottom: 0;
      left: 0;
      right: 0.03rem;
      background: rgba(255, 255, 255, 0.04);
      backdrop-filter: blur(40.7742px);
      background: inherit;
   }

   .navbar--case {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
      width: 67vw;
      height: 100vh;
      padding: 1.5rem;
      color: var(--clr-primary-100);
      background: inherit;
      overflow: hidden; 
   }

   .navbar--close-case {
      display: flex;
      justify-content: end;
      z-index: 2;
      cursor: pointer;
   }

   .navbar--close {
      z-index: 2;
   }

   .navbar--list {
      z-index: 2;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin-top: 4.063rem;
      font-size: var(--fs-400);
   }

   .navbar--link {
      z-index: 2;
      font-family: var(--ff-body);
      text-transform: uppercase;
      list-style: none;
   }

   .navbar--link span {
      z-index: 2;
      margin: 0 0.6875rem 0 0.375rem;
      font-weight: var(--fw-bold);
   }
}