<div class="navbar--img-container">
   <img src="../../../assets/shared/logo.svg" alt="">
</div>

<!-- (click)="toggleNav()" -->
<!-- <button class="navbar--hamberger" title="nav button" nav-expanded="not-expanded" type="button" ></button> -->

<div class="navbar--line line"></div>

<div class="navbar--case ">
   <ul class="navbar--list">
      <li class="navbar--link" routerLinkActive="active" routerLink="/home">
         <a><span aria-hidden="true">00</span>Home</a>
      </li>
      <li class="navbar--link" routerLinkActive="active" routerLink="/destination">
         <a><span aria-hidden="true">01</span>Destination</a>
      </li>
      <li class="navbar--link" routerLinkActive="active" routerLink="/crew">
         <a><span aria-hidden="true">02</span>Crew</a>
      </li>
      <li class="navbar--link" routerLinkActive="active" routerLink="/tech">
         <a><span aria-hidden="true">03</span>Technology</a>
      </li>
   </ul>
</div>