<div class="destination--background">

   <div class="destination--case">
      <div class="destination--content-case">
         <h5 class="destination--title"><span aria-hidden="true">01</span>Pick your destination</h5>
      
         <img class="destination--image" src="{{ selectedPlanet.images.png }}" alt="{{ selectedPlanet.name }}">
         
         <ul class="destination--bar">
            <li 
            class="destination--item" 
            *ngFor="let place of destinationData" 
            (click)="handleClick(place.name)">{{ place.name }}</li>
         </ul>

      </div>

      <div class="destination--details-container">
         <h2 class="destination--heading">{{ selectedPlanet.name }}</h2>
         <p class="destination--description">{{ selectedPlanet.description }}</p>
         
         <div class="destination--spec-container">
            <div class="destination--distance">
               <h4 class="destination--spec-heading">AVG. DISTANCE</h4>
               <p class="destination--spec-value">{{ selectedPlanet.distance }}</p>
            </div>
            
            <div class="destination--travel">
               <h4 class="destination--spec-heading">EST. TRAVEL TIME</h4>
               <p class="destination--spec-value">{{ selectedPlanet.travel }}</p>
            </div>
         </div>
      </div>
   </div>

</div>