<div class="tech--background">

   <div class="tech--case">
      <h4 class="tech--title"><span aria-hidden="true">03</span>Space Launch 101</h4>
   
      <div class="tech--carousel--container">
         <div class="tech--image-case">
            <img src="{{ selectedTech.images.landscape }}" alt="{{ selectedTech.name }}" />
   
         </div>
            
         <div class="tech--button-case" #buttonList>
            <button 
               class="tech--button selected" 
               (click)="switchTech('Launch vehicle')" 
               type="button"
               name="Launch vehicle"
            >
               1
            </button>

            <button 
               class="tech--button" 
               (click)="switchTech('Spaceport')" 
               type="button"
               name="Spaceport"
            >
               2
            </button>

            <button 
               class="tech--button" 
               (click)="switchTech('Space capsule')" 
               type="button"
               name="Space capsule"
            >
               3
            </button>

         </div>
      
      </div>
      
      <h4 class="tech--terminology">The Terminology...</h4>
      <h3 class="tech--subheading">{{ selectedTech.name }}</h3>
      <p class="tech--description">{{ selectedTech.description }}</p>
      
   </div>
      
</div>