<div class="home--case">
   
   <div class="home--content">
      <div class="home--heading-container">
         <p class="home--title">So, You want to travel to</p>
         <h1 class="home--heading">Space</h1>
         <p class="home--pitch">
            Let’s face it; if you want to go to space, you might 
            as well genuinely go to outer space and not hover
            kind of on the edge of it. Well sit back, and relax 
            because we’ll give you a truly out of this world 
            experience!
         </p>
      </div>
      
      <div class="home--explore-container">
         <div class="home--explore-circle">
            <h2 class="home--explore-text">Explore</h2>
         </div>
      </div>

   </div>

</div>