@media screen and (min-width: 375px) {
   .home--case {
      height: 100vh;
      background: url(../../../assets/home/background-home-mobile.jpg) no-repeat;
      background-size: cover;
      background-position: 100% 100%;
   }

   .home--content {
      position: absolute;
      top: 7rem;
      z-index: 2;
      min-width: 100%;
      padding: 1.5rem;
      color: var(--clr-primary-400);
      text-align: center;
   }

   .home--heading-container {
      margin: 0 auto;
   }
   
   .home--title {
      letter-spacing: 2.7px;
      text-transform: uppercase;
   }
   
   .home--heading {
      color: var(--clr-primary-100);
      font-size: var(--fs-1200);
      font-family: var(--ff-heading);
      text-transform: uppercase;
   }

   .home--pitch {
      min-width: 20.438rem;
      max-width: 31.25rem;
      margin: 0 auto;
      font-size: var(--fs-300);
      letter-spacing: 1.45px;
      line-height:  25px;
   }

   .home--explore-container {
      margin-top: 5.063rem;
      cursor: pointer;
   }
   
   .home--explore-circle {
      position: relative;
      margin: 0 auto;
      width: 9.375rem;
      height: 9.375rem;
      border-radius: 50%;
      background-color: var(--clr-primary-100);
   }

   .home--explore-circle:hover {
      box-shadow: 0px 0px 1px 50px rgba(255, 255, 255, 0.1);
   }

   .home--explore-text {
      position: absolute;
      top: 50%;
      min-width: 100%;
      color: var(--clr-neutral-900);
      font-family: var(--ff-heading);
      font-size: var(--fs-600);
      text-transform: uppercase;
      letter-spacing: 1.25px;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
   }
   
}