<div class="crew--background">
   
   <h4 class="crew--title"><span aria-hidden="true">02</span>Meet Your Crew</h4>
   <div class="crew--carousel-container">
      
      <div class="crew--image-case">   
         <img id="image" class="crew--image" src="{{ crew[0].images.png }}" alt="{{ 'Crew Member ' + crew[0].name }}" />
      </div>
         
      <div class="crew--radio-container">
         <label for="radio--douglas" title="douglas"></label>
         <input id="radio--douglas" type="radio" name="radio-btn" checked />
         
         <label for="radio--mark" title="mark"></label>
         <input id="radio--mark" type="radio" name="radio-btn" />

         <label for="radio--victor" title="victor"></label>
         <input id="radio--victor" type="radio" name="radio-btn" />
         
         <label for="radio--anousheh" title="anousheh"></label>
         <input id="radio--anousheh" type="radio" name="radio-btn" />
      </div>
   
   <h4 class="crew--job">{{ crew[0].role }}</h4>
   <h3 class="crew--name">{{ crew[0].name }}</h3>
   <p class="crew--description">{{ crew[0].bio }}</p>
   
   </div>

</div>