@media screen and (min-width: 375px) {
   /* how to set a blur to the background image */
   .crew--background {
      height: 100vh;
      padding-top: 6rem;
      color: var(--clr-primary-100);
      background-image: url(../../../assets/crew/background-crew-mobile.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 100% 75%;
      mix-blend-mode: screen;
   }

   .black {
      content: "";
      position: absolute;
      width: 100%;
      height: 100vh;
      z-index: -1;
      background-color: var(--clr-primary-900);
   }

   .crew--case {
      position: absolute;
      z-index: 2;
      width: 100%;
      margin-top: 6rem; 
      padding: 0 1.5rem;
      color: var(--clr-primary-100);
      text-align: center;
   }

   .crew--title {
      font-size: var(--fs-400);
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 2.7px;
   }

   span {
      font-weight: var(--fw-bold);
      margin-right: 1.125rem;
      mix-blend-mode: normal;
      opacity: 0.25;
   }

   .crew--carousel-container {
      display: flex;
      flex-direction: column;
   }

   /* 
   how to make this image grow with the screen resize 

   .crew--image-case > img {
      width: 11.07rem;
      max-width: 26.563rem;
      margin: 2rem auto 0;
      
   }
   */
   .crew--image-case > img {
      width: 50vw;
      max-width: 80vw; 
      margin: 2rem auto 0;
      
   }

   .crew--image-case:after {
      content: " ";
      display: block;
      height: 0.063rem;
      width: 100%;
      background-color: var(--clr-primary-800);
   }

   .crew--radio-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 2rem auto 0;
      width: 5.5rem;
   }

   input[type="radio"] {
      place-content: center;
      display: grid;
      width: 0.625rem;
      height: 0.625rem;
      margin: 0;
      border: 0.15em solid transparent;
      border-radius: 50%;
      font: inherit;
      color: var(--clr-primary-100);
      background-color: var(--clr-primary-800);
      appearance: none;
      -webkit-appearance: none;
      cursor: pointer;
   }
   
   input[type="radio"]:before {
      content: "";
      width: 0.625rem;
      height: 0.625rem;
      border-radius: 50%;
      transform: scale(0);
      transition: 120ms transform ease-in-out;
      box-shadow: inset 1rem 1rem var(--clr-primary-100);
   }

   input[type="radio"]:hover {
      background-color: rgba(255, 255, 255, 0.5);
   }

   input[type="radio"]:checked:before {
      transform: scale(1);
   }

   .crew--job {
      margin: 2rem auto 0;
      font-family: var(--ff-heading);
      text-align: center;
      text-transform: uppercase;      
      color: var(--clr-primary-100);      
      mix-blend-mode: normal;
      opacity: 0.4;
   }

   .crew--name {
      margin: 0.5rem auto 0;      
      font-family: var(--ff-heading);
      font-size: var(--fs-700);      
      text-align: center;
      text-transform: uppercase;
   }

   .crew--description {
      min-width: 20.438rem;
      max-width: 31.25rem;
      margin: 1rem auto;
      color: var(--clr-primary-400);
      line-height: 25px;
      letter-spacing: 1px;
   }
}