<div class="crew--background">
   
   <h4 class="crew--title"><span aria-hidden="true">02</span>Meet Your Crew</h4>
   <div class="crew--carousel-container">
      
      <div class="crew--image-case">   
         <img id="image" class="crew--image" src="{{ currentMember.images.png }}" alt="{{ 'Crew Member ' + currentMember.name }}" />
      </div>
         
      <div class="crew--radio-container" #radioList>
         <label for="radio--douglas" title="douglas"></label>
         <input (click)="switchMemeber('Douglas Hurley')" id="radio--douglas" type="radio" name="radio-btn" checked />
         
         <label for="radio--mark" title="mark"></label>
         <input (click)="switchMemeber('Mark Shuttleworth')" id="radio--mark" type="radio" name="radio-btn" />

         <label for="radio--victor" title="victor"></label>
         <input (click)="switchMemeber('Victor Glover')" id="radio--victor" type="radio" name="radio-btn" />
         
         <label for="radio--anousheh" title="anousheh"></label>
         <input (click)="switchMemeber('Anousheh Ansari')" id="radio--anousheh" type="radio" name="radio-btn" />
      </div>
   
      <h4 class="crew--job">{{ currentMember.role }}</h4>
      <h3 class="crew--name">{{ currentMember.name }}</h3>
      <p class="crew--description">{{ currentMember.bio }}</p>
   
   </div>

</div>